<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error @ViewBag.ErrorCode</h1>
        <h2>An error occurred while processing your request. Please try again.</h2>
        <h3>Error message: @ViewBag.Message</h3>
    </hgroup>
</body>
</html>
