@model DateMe.ViewModels.SearchViewModel

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        <label for="NicknameQuery">Search by nickname</label>
        <img src="~/Content/Images/ajax-loader.gif" alt="loading" class="hidden" id="ajax-loader" />
        @Html.TextBoxFor(m => m.NicknameQuery, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.NicknameQuery)
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th data-bind="click: function() { sortByColumn('Nickname') }">Nickname</th>
                <th data-bind="click: function() { sortByColumn('Gender') }">Gender</th>
                <th data-bind="click: function() { sortByColumn('LookingFor') } ">Looking for</th>
                <th data-bind="click: function() { sortByColumn('City') }">City</th>
            </tr>
        </thead>

        <tbody data-bind="foreach: result">
            <tr>
                <td><a href="#" data-bind="text: Nickname, attr: { href: '/Profile/U/'+ Id }"></a></td>
                <td data-bind="text: Gender"></td>
                <td data-bind="text: LookingFor"></td>
                <td data-bind="text: City"></td>
            </tr>
        </tbody>
    </table>
}

@section Scripts {
    @Scripts.Render("~/bundles/knockout")
    <script src="/Scripts/Knockout/searchviewmodel.js"></script>
}