@model DateMe.ViewModels.ProfileViewModel
    
@{
    ViewBag.Title = @Model.Nickname + "'s interests";
}

<h4 class="profile_bold">Interests</h4>

<div>
    @foreach (var interest in @Model.Interests)
    {
        <div class="profile_interest">
            @interest.Title
        </div>
    }
</div>
