@model DateMe.ViewModels.ProfileViewModel

<h4 class="profile_bold">Your messages</h4>

<div data-bind="foreach: messages">

    <div class="wall_message">

        <span class="wall_message_from">From: <a href="#" data-bind="text: FromId, attr"></a></span>

        <img class="wall_message_trash pull-right" src="~/Content/Images/glyphicons-17-bin.png" alt="X"/>

        <article class="wall_message_text" data-bind="text: Text"></article>

    </div>

</div>