<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error</h1>
        <h2>For support, print the text on white paper and send it to: </h2>
      
          <h4>
            DateMe Inc.<br/>
            Infinite Loop 2<br/>
            Silicon Valley, CA<br/>
        </h4>
        <br/>
        <h3>Technical error message:</h3>
        <p>@Model.Message</p>
    </hgroup>
</body>
</html>
